.articles-list {
    display: block;
    font-size: 0;
    padding: 0;
    // @include smartphone {
    //     padding: 0;
    // }

    .list-item {
        display: block;
        overflow: hidden;
        margin: 80px 0;
        // @include tablet {
        //     margin: 60px 0;
        // }
        // @include smartphone {
        //     margin: 40px 0;
        // }

        .item-header {
            display: block;

            h2 {
                font-size: 20pt;
                font-weight: 300;
                margin: 0;
                line-height: 1.5em;
                // @include smartphone {
                //     font-size: 16pt;
                // }

                a {
                    color: #000;
                    text-decoration: none;
                    border-bottom: 1px solid rgba(0, 0, 0, .5);
                    // @include smartphone {
                    //     border-width: 1px;
                    // }
                }
            }

            time {
                display: block;
                margin: 20px 0;
                font-size: 12pt;
                font-weight: 300;
                color: #999;
            }

            .item-image {
                display: block;
                float: left;
                width: 50%;
                height: 250px;
                background-color: #ddd;
                background-position: center center;
                background-repeat: no-repeat;

                &.size-contain {
                    background-size: contain;
                }

                &.size-cover {
                    background-size: cover;
                }
                // @include smartphone {
                //     width: 100%;
                //     float: none;
                // }
            }
        }

        .item-body {
            display: inline-block;
            width: 50%;
            padding: 0 0 0 30px;
            // @include smartphone {
            //     width: 100%;
            //     padding: 20px 0 0 !important;
            // }

            p {
                margin: 0;
                font-size: 12pt;
                font-weight: 300;
                line-height: 1.5em;
            }
        }

        &:nth-child(2n) {
            .item-header {
                .item-image {
                    float: right;
                }
            }

            .item-body {
                padding: 0 30px 0 0;
            }
        }
    }
}

.articles-post {
    margin: 0 0 80px;

    %articles-styled {
        padding: 0 120px;
        // @include tablet {
        //     padding: 0 60px;
        // };
        // @include smartphone {
        //     padding: 0;
        // };
    }

    h1,
    h2,
    h3,
    ol,
    p,
    ul {
        @extend %articles-styled;
    }

    h1 {
        margin-top: 120px;
        margin-bottom: 40px;
        white-space: normal;
        // @include smartphone {
        //     font-size: 20pt;
        //     font-weight: 300;
        //     margin: 20px 0 40px;
        // }

        a {
            font-weight: 300;
        }

        span {
            margin-top: 1em;
            overflow: hidden;
            display: block;
        }
    }

    h2,
    h3 {
        font-size: 20pt;
        margin-top: 80px;
        margin-bottom: 20px;
        // @include smartphone {
        //     font-size: 16pt;
        //     margin: 60px 0 20px;
        // }
    }

    h3 {
        margin-top: 40px;
        margin-bottom: 20px;
        // @include smartphone {
        //     margin: 40px 0 0;
        // }
    }

    p {
        font-size: 14pt;
        font-weight: 300;
        line-height: 1.5em;
        // @include smartphone {
        //     margin-bottom: 20px;
        //     font-size: 12pt;
        // }

        img {
            display: block;
            margin: 60px -80px;
            max-width: 880px;
            border-radius: 4px;
            // @include tablet {
            //     margin: 60px auto;
            //     max-width: 560px;
            // };
            // @include smartphone {
            //     width: 100%;
            //     max-width: none;
            // }
        }
    }

    ol,
    ul {
        li {
            position: relative;
            line-height: 1.5em;
            font-size: 14pt;
            font-weight: 300;
            padding-left: 40px;
            // @include tablet {
            //     padding-left: 0;
            //     margin: 0.75em 0;
            //
            // };
            // @include smartphone {
            //     font-size: 12pt;
            // }

            &:after {
                content: "";
                display: block;
                position: absolute;
                width: 6px;
                height: 6px;
                background: #000;
                border-radius: 50%;
                left: 20px;
                top: 14px;
                margin: -3px 0 0 -3px;
                // @include tablet {
                //     left: -20px;
                // };
                // @include smartphone {
                //     top: 12px;
                //     left: -15px;
                // }
            }
        }
    }
}
