.menu-container {
    font-size: 0;
    position: relative;
    display: table;
    width:100%;

    a {
        display: block;
        text-decoration: none;
        color: #333;
    }

    & > div {
        display: table-cell;
        position: relative;

        & > a {
            background-color: $color_primary;
            color:#fff;
            line-height: 48px;
            font-size: 10pt;
            padding: 0 16px;
            font-weight: bold;
            text-align: center;
        }

        &.menu-parent:hover > a {
            text-shadow: 0 0 4px #fff;
        }
    }

    .menu-parent,
    a {
        &:hover,
        &:hover > a {
            background-color: transparentize($color_primary, 0.1);
            color: #fff;
        }
    }

    div {
        .menu-parent {}

        .menu-children {
            display: none;
            position: absolute;
            background: #f6f5f3;
            padding: 16px 0;
            min-width: 100%;
            width: 256px;
            box-shadow: 10px 10px 0 rgba(0,0,0,.125);

            .menu-parent {
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    width: 32px;
                    background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTEwIDZMOC41OSA3LjQxIDEzLjE3IDEybC00LjU4IDQuNTlMMTAgMThsNi02eiIvPiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PC9zdmc+");
                    background-position: center center;
                    background-repeat: no-repeat;
                    opacity: 0.25;
                }
            }

            a {
                font-size: 10pt;
                padding: 8px 24px;
            }

            & > .menu-parent > .menu-children {
                top: -16px;
                left: calc(100%);
                min-width: 256px;
            }
        }

        &:hover {
            & > .menu-children {
                display: block;
            }
        }

    }
}
