@mixin desktop {
    @media only screen and (min-width: 0) {
        body:not(.desktop-only) & {
            @content;
        }
    }
}
@mixin desktop-narrow {
    @media only screen and (max-width: $screenDesktopNarrow) {
        body:not(.desktop-only) & {
            @content;
        }
    }
}
@mixin tablet {
    @media only screen and (max-width: $screenTablet) {
        body:not(.desktop-only) & {
            @content;
        }
    }
}
@mixin smartphone {
    @media only screen and (max-width: $screenSmartphone) {
        body:not(.desktop-only) & {
            @content;
        }
    }
}
