$dir: "generic" !default;

// =============================================================================
// Images
// =============================================================================

@mixin background-image($name) {
    background-image: url("#{$image-path}/#{$dir}/#{$name}.svg");

    .no-svg & {
        background-image: url("#{$image-path}/#{$dir}/#{$name}.png");
    }
}
@mixin icn-counter($child: "", $count:10, $folder:$dir, $suffix:"", $filename-prefix:"icn_") {
     @for $i from 1 through $count{
        &:nth-child(#{$i}) #{$child} {
            &#{$suffix} {
                background-image: url("gfx/#{$folder}/#{$filename-prefix}#{$i}.svg");

                .no-svg & {
                    background-image: url("gfx/#{$folder}/#{$filename-prefix}#{$i}.png");
                }
            }
        }
    }
}

// =============================================================================
// Client list
// =============================================================================

@mixin clients($clients){
    @for $i from 1 through length($clients) {
        &##{nth($clients, $i)} {
            @include background-image(partners/bw/#{nth($clients, $i)})
        }
        &##{nth($clients, $i)}:after {
            @include background-image(partners/color/#{nth($clients, $i)})
        }
    }
}

// =============================================================================
// Promotions list
// =============================================================================



@mixin promotion-item($promotions){
    @for $i from 1 through length($promotions) {
        &##{nth($promotions, $i)} .promotion-title a {
            @include background-image(logo_#{nth($promotions, $i)}_desktop);
        }
        @include tablet{
            &##{nth($promotions, $i)} .promotion-title a {
                @include background-image(logo_#{nth($promotions, $i)}_tablet);
            }
        };
    }
}

@mixin promotion-anchor($promotions) {
    @for $i from 1 through length($promotions) {
        @include smartphone{
            &##{nth($promotions, $i)}-anchor .anchor-title:after {
                @include background-image(logo_#{nth($promotions, $i)}_phone);
            }
        };
    }
}

// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}
