$color_primary: #5b3f36;
$color_secondary: #d32f2f;
$color_accent: #6ab344;
$font-text: "PT Serif", "Times New Roman", serif;
$font-caption: "Open Sans", Arial, sans-serif;

%pseudo{
    content: "";
    display: block;
    position: absolute;
}

$screenDesktopNarrow: 1280px;
$screenTablet: 1024px;
$screenSmartphone: 767px;
$wrapperDesktop:1140px;
$wrapperDesktopNarrow:960px;
$wrapperTablet:680px;
$wrapperSmartphone:320px;
