.b-files {
    margin: 24px 0;
}

.b-files__file {
    display: block;
    margin: 8px 0;
    position: relative;
    padding: 0 0 0 40px;
    font-size: 11pt;
    line-height: 32px;
    color: #000;
    text-overflow: ellipsis;
    overflow: hidden;
    &:hover{
        color:#d00;
    }

    &:before {
        content: "\e142";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        height: 32px;
        width: 32px;
        background: $brand-success;
        border-radius: 50%;
        font-family: 'Glyphicons Halflings';
        color: #000;
        text-align: center;
        line-height: 34px;
    }
}
