.log {
    display: table;
    width: 100%;
    background: #fff;
    border-radius: 8px;
    margin: 30px 0;
    font-family: "Open Sans", sans-serif;
    font-size: 10pt;
    box-shadow: 4px 4px 0 rgba(0,0,0,.05);
    text-align: left;
    overflow: hidden;
    @include smartphone {
        background: none;
        box-shadow: none;
        margin: 15px 0;
        overflow: auto;
    };
}

.log__header {
    display: table-row;
    font-weight: bold;
    @include smartphone {
        display: none;
    };
}

.log__item {
    display: table-row;
    @include smartphone {
        display: block;
        margin: 15px 0;
        background: #fff;
        box-shadow: 4px 4px 0 rgba(0,0,0,.05);
        border-radius: 8px;
        overflow: hidden;
        padding: 10px 0;
    };

    &:nth-child(even) {
        background: #f6f5f3;
        @include smartphone {
            background: #fff;
        };
    }
}

.log__param {
    display: table-cell;
    padding: 15px 10px;
    @include smartphone {
        display: block;
        text-align: left;
        margin: 10px 0;
        padding: 0 20px;
    };

    &:first-child {
        white-space: nowrap;
    }

    .badge {
        width: 16px;
        height: 16px;
        margin: 0 2px -4px;
    }

    .badge_color_yellow {
        background: #ecd074;
    }

    .badge_color_red {
        background: #e57979;
    }
}

.log__label {
    display: none;
    @include smartphone {
        display: block;
        opacity: 0.5;
        float: left;
        width: 100px;
        margin-bottom: 5px;
    };
}

.log__action {
    display: inline-block;
    // line-height: 1.5em;
    padding: 0 12px;
    border-radius: 16px;
    line-height: 28px;
    background: #fff;
    border: 2px solid #6ab344;
    color: #6ab344;
    font-weight: bold;
    text-decoration: none;
    @include smartphone {
        background: #fff;
        border: 2px solid #6ab344;
        line-height: 28px;
        border-radius: 16px;
        color: #6ab344;
        // padding: 0 22px;
        margin-top: 10px;
        margin-left: 100px;
    };

    &:hover {
        background: #6ab344;
        color: #fff;
    }
}
