.phases {
    // border-radius: 24px;
    // padding: 0 20px;
    font-size: 0;
    font-family: $font-caption;
    position: relative;
    @include smartphone {
        width: 100%;
    };
}

.phases__wrapper {
    // @include smartphone {
    //     height: 48px;
    //     // overflow: hidden;
    //     // overflow-x: auto;
    //     width: 100%;
    //     position: absolute;
    // };
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.phases__phase {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 5px 20px;
    background: #fff;
    font-size: 10pt;

    &:first-child {
        padding-left: 40px;
        border-radius: 28px 0 0 28px;
    }

    &:last-child {
        padding-right: 40px;
        border-radius: 0 28px 28px 0;
    }
    @include desktop-narrow {
        font-size: 10pt;
    };
    @include smartphone {
        display: inline-block;
        margin: 5px;
        padding: 5px 20px;
        border-radius: 24px;
    };

    .link {
        color: #000;
    }
}

.phases__phase_active {
    font-weight: bold;
    color: $color_accent;
}
