.steps {
    background: #fff;
    height: 48px;
    border-radius: 24px;
    display: table;
    width: 100%;
    padding: 0 20px;
    font-size: 11pt;
    @include desktop{
        font-size: 12pt;
    };
    // table-layout: fixed;
    @include smartphone{
        font-size: 9pt;
        padding: 0;
        margin: 0 -10px;
    };
}

.steps__step {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 20px;
    @include smartphone{
        padding: 0 10px;
    };

    .link {
        color: #000;
    }
}

.steps__step_active {
    font-weight: bold;
    color: $color_accent;
    border-bottom: 2px $color_accent solid;
}
