//- layout.pug

doctype html
html(lang="ru")

    include ../bemto/bemto.pug
    include ./mixins/fileselect.pug

    head
        meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
        title Правовой советник
        link(rel="stylesheet",type="text/css",href="style/style.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|PT+Serif:400,700&amp;subset=cyrillic-ext")
        script(src="js/script.js")
        meta(name="viewport", content="width=device-width, initial-scale=0.8")

    //- body.desktop-only
    body
        
        .modal.fade#exampleModal(tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true"): .modal-dialog.modal-lg(role="document"): .modal-content
            .modal-header
                button.close(data-dismiss="modal",aria-label="Close")
                h4.modal-title &nbsp;
            .modal-body
                block modal
            
        
        +b.overlay._login
            +b.b-modal
                +e.window
                    +e.header
                        +e.A.close(href="javascript:void(0);")
                        +e.title Вход
                    +e.body
                        +b.login
                            form
                                +e.section
                                    +e.LABEL.label(for="user-email") Электронная почта
                                    +e.INPUT.input(name="user-email",type="text",placeholder="Элекронная почта",autofocus)
                                    +e.SPAN.alert Необходимо ввести адрес
                                +e.section
                                    +e.LABEL.label(for="user-password") Пароль
                                    +e.INPUT.input(name="user-email",type="password",placeholder="Пароль")
                                +e.section._submit
                                    +e.INPUT.submit.button.button_primary(name="user-email",type="submit",value="Войти в кабинет")
                                +e.section._remind
                                    a.link(href="#") Забыли пароль?
                                
                    +e.footer
                        +e.buttons
                            span Впервые у нас?
                            a.button(href="#") Зарегистрироваться
        
        +b.page
            +b.sidebar
                +e.close
                +e.NAV.menu.nav
                    ul.nav__group
                        li.nav__item: a.link(href="#") Услуги
                        li.nav__item: a.link(href="#") О компании
                        li.nav__item: a.link(href="#") Деятельность
                        li.nav__item: a.link(href="#") Контакты
            +e.row.header
                +e.wrapper
                    .menu-toggle
                    a.header__logo.logo
                        span.logo__text Правовой Советник
                    .header__authorization.authorization
                            a.button Выйти
                    .header__contacts.contacts
                            .contacts__item.contacts__item_phone 8 800 555-29-35
            +e.row.menu
                +e.wrapper
                    +b.NAV.nav
                        +e.UL.group
                            +e.LI.item: a.link(href="#") Услуги
                            +e.LI.item: a.link(href="#") О компании
                            +e.LI.item: a.link(href="#") Деятельность
                            +e.LI.item: a.link(href="#") Контакты
            +b.personal.page__row
                .page__wrapper
                    +e.header
                        +e.H3.title Здравствуйте, Сергей!
                        +e.A.edit.button.button_size_small Редактировать профиль
                        +e.P.product Вы используете продукт «Налоговый вычет — Имущественный (Максимум)»
                        +e.P.contract № договора ПС-120981 от&nbsp;12.05.17 #[br] Тариф действует до&nbsp;12.11.17
                        
                    +e.body
                        block content
                                
                                
                                    
                    +e.support
                        h3 Поддержка
                        p Если у вас возникли вопросы, свяжитесь удобным вам способом
                        p #[b service@ps-online.ru] #[b 8 800 555-29-35] #[span.line Звонок по России бесплатный]
                        
            +b.footer.page__row
                .page__wrapper
                    +b.contacts.footer__contacts
                        +e.item._phone 8 800 555-29-35
                        +e.item._email: a.link(href="#") ps@ps-online.ru
                    +e.NAV.nav.nav
                    +e.about
                        +e.logo.logo
                        | © Правовой Советник, 2016–2017 #[br]Используя сервис, вы принимаете условия оферты
