doctype html
html(lang="ru")

    include ../bemto/bemto.pug

    head
        meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
        title Правовой советник
        link(rel="stylesheet",type="text/css",href="style/style.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|PT+Serif:400,700&amp;subset=cyrillic-ext")
        script(src="js/script.js")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")

    body
        
        +b.overlay._login
            +b.b-modal
                +e.window
                    +e.header
                        +e.A.close(href="javascript:void(0);")
                        +e.title Вход
                    +e.body
                        +b.login
                            form
                                +e.section
                                    +e.LABEL.label(for="user-email") Электронная почта
                                    +e.INPUT.input(name="user-email",type="text",placeholder="Элекронная почта",autofocus)
                                    +e.SPAN.alert Необходимо ввести адрес
                                +e.section
                                    +e.LABEL.label(for="user-password") Пароль
                                    +e.INPUT.input(name="user-email",type="password",placeholder="Пароль")
                                +e.section._submit
                                    +e.INPUT.submit.button.button_primary(name="user-email",type="submit",value="Войти в кабинет")
                                +e.section._remind
                                    a.link(href="#") Забыли пароль?
                                
                    +e.footer
                        +e.buttons
                            span Впервые у нас?
                            a.button(href="#") Зарегистрироваться
        
        +b.page
            +b.sidebar
                +e.close
                +e.NAV.menu.nav
                    ul.nav__group
                        li.nav__item: a.link(href="#") Услуги
                        li.nav__item: a.link(href="#") О компании
                        li.nav__item: a.link(href="#") Деятельность
                        li.nav__item: a.link(href="#") Контакты
            +e.row.header
                +e.wrapper
                    .menu-toggle
                    a.header__logo.logo
                        span.logo__text Правовой Советник
                    .header__authorization.authorization
                            a.button Выйти
                    .header__contacts.contacts
                            .contacts__item.contacts__item_phone 8 800 555-29-35
            +e.row.menu
                +e.wrapper
                    +b.NAV.nav
                        +e.UL.group
                            +e.LI.item: a.link(href="#") Услуги
                            +e.LI.item: a.link(href="#") О компании
                            +e.LI.item: a.link(href="#") Деятельность
                            +e.LI.item: a.link(href="#") Контакты
            +b.personal.page__row
                .page__wrapper
                    +e.header
                        +e.H3.title Здравствуйте, Сергей!
                        +e.A.edit.button.button_size_small Редактировать профиль
                        +e.P.product Вы используете продукт «Налоговый вычет — Имущественный (Максимум)»
                        +e.P.contract № договора ПС-120981 от&nbsp;12.05.17 #[br] Тариф действует до&nbsp;12.11.17
                        
                    +e.body
                        +b.steps
                            +e.step._active Личные#[br] данные
                            +e.step Загрузка#[br] документов
                            +e.step Проверка#[br] документов
                            +e.step Мои#[br] документы
                            +e.step Оформление#[br] отправки документов
                            
                        +b.sheet
                            +e.head
                                +b.steps
                                    +e.step._active Данные о налогоплательщике
                                    +e.step Общие документы
                                //- Данные о налогоплательщике
                                
                            +e.body
                                p 1. Введите личные данные
                                form
                                    .form-group
                                        label: b Фамилия, имя, отчество
                                        input(type="text").form-control
                                    .form-group
                                        label: b ИНН
                                        input(type="text").form-control
                                    .form-group
                                        label: b СНИЛС
                                        input(type="text").form-control
                                        
                                    b Паспортные данные
                                    .form-group
                                        label Серия и номер
                                        input(type="text").form-control
                                    .form-group
                                        label Дата выдачи
                                        input(type="text").form-control
                                    .form-group
                                        label Кем выдан
                                        input(type="text").form-control
                                    .form-group
                                        label: b Адрес регистрации
                                        input(type="text").form-control
                                    .form-group
                                        label: b Номер телефона
                                        input(type="text").form-control
                                        
                                    +e.buttons
                                        button(type="submit").btn.btn-primary.btn-lg Сохранить
                                
                        //- Общие документы
                        
                        +b.sheet
                            +e.head
                                +b.steps
                                    +e.step Данные о налогоплательщике
                                    +e.step._active Общие документы
                            +e.body
                                p 1. Загрузите копии документов
                                
                                form
                                    +b.upload
                                        +e.group._size_half._ready
                                            +e.name ИНН                                        
                                            +b.file-select
                                                +e.INPUT(type="file",name="file").input#file
                                                +e.LABEL(for="file").label: span Выберите файл
                                                +e.A.remove(title="Не загружать") Не загружать
                                        +e.group._size_half._ready
                                            +e.name СНИЛС                                        
                                            +b.file-select
                                                +e.INPUT(type="file",name="file").input#file
                                                +e.LABEL(for="file").label: span Выберите файл
                                                +e.A.remove(title="Не загружать") Не загружать
                                        +e.group._size_half._ready
                                            +e.name Копия паспорта (страница 3)                                        
                                            +b.file-select
                                                +e.INPUT(type="file",name="file").input#file
                                                +e.LABEL(for="file").label: span Выберите файл
                                                +e.A.remove(title="Не загружать") Не загружать
                                        +e.group._size_half._empty
                                            +e.name Копия паспорта (прописка)                                        
                                            +b.file-select
                                                +e.INPUT(type="file",name="file").input#file
                                                +e.LABEL(for="file").label: span Выберите файл
                                                +e.A.remove(title="Не загружать") Не загружать
                                        +e.group._size_half._empty
                                            +e.name Справка#[br]2-НДФЛ                              
                                            +b.file-select
                                                +e.INPUT(type="file",name="file").input#file
                                                +e.LABEL(for="file").label: span Выберите файл
                                                +e.A.remove(title="Не загружать") Не загружать
                                        +e.group._size_half._empty
                                            +e.name Банковские реквизиты                              
                                            +b.file-select
                                                +e.INPUT(type="file",name="file").input#file
                                                +e.LABEL(for="file").label: span Выберите файл
                                                +e.A.remove(title="Не загружать") Не загружать
                                                
                                    +e.buttons
                                        button(type="button").btn.btn-primary.btn-lg Сохранить
                                        button(type="submit",disabled).btn.btn-primary.btn-lg Продолжить
                                
                        +b.sheet
                            +e.head: p Загрузите документы по&nbsp;одной или нескольким ситуациям
                            +e.body
                                +b.tabs._size_small
                                    +e.item._active: +e.label Имущественный вычет
                                    +e.item: +e.label Социальный вычет
                                    +e.item: +e.label Инвестиционный вычет
                                +b.upload._type_summary
                                    +e.group._size_half._ready
                                        +e.name Приобретение и&nbsp;строительство жилья (квартира, частный дом, комната, их доли)
                                        +e.text: b Загружено документов: 4 из 4
                                        +e.link(href="#")
                                    +e.group._size_half._empty
                                        +e.name Приобретение земельного участка
                                        +e.text: b Загружено документов: 1 из 3
                                        +e.link(href="#")
                                    +e.group._size_half._empty
                                        +e.name Расходы по уплате процентов по&nbsp;целевым кредитам (ипотечным кредитам) на&nbsp;строительство или приобретение жилья
                                        +e.text: b Загружено документов: 2 из 3
                                        +e.link(href="#")
                                    +e.group._size_half._empty
                                        +e.name Расходы, связанные с&nbsp;отделкой/ремонтом жилья (если оно было приобретено у&nbsp;застройщика без&nbsp;отделки)
                                        +e.text: b Загружено документов: 0 из 4
                                        +e.link(href="#")
                                +e.buttons
                                    button(type="submit").btn.btn-primary.btn-lg Отправить на проверку
                                    
                        +b.sheet
                            +e.head: p Приобретение и&nbsp;строительство жилья
                            +e.body
                                +b.upload
                                    +e.group._size_full._ready
                                        +e.name Договор купли-продажи или договор долевого участия  
                                        +b.file-select
                                            +e.INPUT(type="file",name="file").input#file
                                            +e.LABEL(for="file").label: span Выберите файл
                                            +e.A.remove(title="Не загружать") Не загружать
                                    +e.group._size_full._empty
                                        +e.name Свидетельство о&nbsp;государственной регистрации права собственности
                                        +b.file-select
                                            +e.INPUT(type="file",name="file").input#file
                                            +e.LABEL(for="file").label: span Выберите файл
                                            +e.A.remove(title="Не загружать") Не загружать
                                    +e.group._size_full._empty
                                        +e.name Платежные документы, подтверждающие факт оплаты жилья (платежные поручения, квитанции об оплате, расписки)
                                        +b.file-select
                                            +e.INPUT(type="file",name="file").input#file
                                            +e.LABEL(for="file").label: span Выберите файл
                                            +e.A.remove(title="Не загружать") Не загружать
                                    +e.group._size_full._empty
                                        +e.name Акт приема-передачи жилья
                                        +b.file-select
                                            +e.INPUT(type="file",name="file").input#file
                                            +e.LABEL(for="file").label: span Выберите файл
                                            +e.A.remove(title="Не загружать") Не загружать
                                
                                +e.buttons            
                                    button(type="button").btn.btn-default.btn-lg Назад
                                    button(type="submit").btn.btn-primary.btn-lg Сохранить

                        +b.sheet
                            +e.head: p Проверка документов
                            +e.body
                                p Документы отправлены на проверку 25.09.2017 в 9:42#[br] Специалист: Светлана Александрова
                                p: b Ответ специалиста
                                
                                .panel.panel-default
                                    .panel-body
                                        h6 14:20 20.10.2017
                                        p Добрый день. Пришлите, пожалуйста, акт приема-передачи жилья еще раз&nbsp;- копия получилась размытой.
                                        
                                form
                                    .form-group
                                        label: b Прикрепить документы
                                        +b.file-select
                                            +e.INPUT(type="file",name="file").input#file
                                            +e.LABEL(for="file").label: span Выберите файл
                                            +e.A.remove(title="Не загружать") Не загружать
                                        
                                    +e.buttons
                                        button(type="submit").btn.btn-primary.btn-lg Отправить
                                    
                        +b.steps
                            +e.step Личные#[br] данные
                            +e.step Загрузка#[br] документов
                            +e.step Проверка#[br] документов
                            +e.step._active Мои#[br] документы
                            +e.step Оформление#[br] отправки документов
                            
                        +b.sheet
                            +e.head: p Мои документы
                            +e.body
                                p.success Поздравляем!#[br]Ваши документы готовы#[br]#[br]
                                p: b Скачать документы
                                
                                .b-files
                                    a.b-files__file(href="#") Заявление на предоставление необходимых документов.docx
                                    a.b-files__file(href="#") Договор.xls
                                    a.b-files__file(href="#") image1.jpg
                                    
                                p: b Порядок подачи
                                p Ваша инспекция: ИФНС России по г. Архангельску, адрес: 163000, г. Архангельск, ул. Логинова, д. 29
                                p Вы можете направить указанные документы почтой ценным письмом с описью вложения, с уведомлением о вручении, либо самостоятельно сдать декларацию в вашу инспекцию, либо поручить подачу декларации нашим специалистам.
                                
                                p: b Перейти к оформлению отправки документов в налоговую инспекцию?
                                
                                +e.buttons
                                    button(type="submit").btn.btn-primary.btn-lg Да
                                
                                
                        +b.steps
                            +e.step Личные#[br] данные
                            +e.step Загрузка#[br] документов
                            +e.step Проверка#[br] документов
                            +e.step Мои#[br] документы
                            +e.step._active Оформление#[br] отправки документов
                            
                        +b.sheet
                            +e.head: p Оформление отправки документов
                            +e.body
                                p Пожалуйста скачайте заявление, подпишите и загрузите подписанное заявление в личный кабинет.
                                
                                .b-files
                                    a.b-files__file(href="#") Заявление_на_выпуск_СКЛЭП.pdf
                                    
                                form
                                    .form-group
                                        label: b Подписанное заявление
                                        +b.file-select
                                            +e.INPUT(type="file",name="file").input#file
                                            +e.LABEL(for="file").label: span Выберите файл
                                            +e.A.remove(title="Не загружать") Не загружать
                                        
                                    .alert.alert-danger Ваше заявление находится на проверке
                                    
                                    +e.buttons  
                                        button(type="submit").btn.btn-default.btn-lg Сохранить
                                        button(type="submit",disabled).btn.btn-primary.btn-lg Подписать документы
                                
                                
                        +b.steps
                            +e.step Личные#[br] данные
                            +e.step Загрузка#[br] документов
                            +e.step Проверка#[br] документов
                            +e.step Мои#[br] документы
                            +e.step._active Оформление#[br] отправки документов
                            
                        +b.sheet
                            +e.head
                                +b.steps
                                    +e.step._active Подписание документов
                                    +e.step Договор поручения
                            +e.body
                                
                                ul
                                    li Налоговая декларация.pdf
                                    li Заявление о возврате НФДЛ.pdf
                                
                                +e.buttons
                                    button(type="submit").btn.btn-default.btn-lg Продолжить
                                
                                
                        +b.sheet
                            +e.head
                                +b.steps
                                    +e.step Подписание документов
                                    +e.step._active Договор поручения
                            +e.body
                                
                                p Пожалуйста, скачайте указанный договор, подпишите и загрузите в личный кабинет.
                                .b-files
                                    a.b-files__file(href="#") Договор поручения.pdf
                                    
                                form
                                    .form-group
                                        label: b Подписанный договор
                                        +b.file-select
                                            +e.INPUT(type="file",name="file").input#file
                                            +e.LABEL(for="file").label: span Выберите файл
                                            +e.A.remove(title="Не загружать") Не загружать
                                        
                                
                                +e.buttons
                                    button(type="submit").btn.btn-default.btn-lg Сохранить
                                    button(type="submit",disabled).btn.btn-primary.btn-lg Отправить в ИФНС
                                
                                
                                    
                    +e.support
                        h3 Поддержка
                        p Если у вас возникли вопросы, свяжитесь удобным вам способом
                        p #[b service@ps-online.ru] #[b 8 800 555-29-35] #[span.line Звонок по России бесплатный]
                        
            +e.row.footer
                +e.wrapper
                    +e.contacts.contacts
                    +e.NAV.nav.nav
                    +e.about
                        +e.logo.logo
                        | © Правовой Советник, 2016–2017 #[br]Используя сервис, вы принимаете условия оферты
