//- promo.pug

doctype html
html(lang="ru")

    include ../bemto/bemto.pug

    head
        meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
        title Правовой советник
        link(rel="stylesheet",type="text/css",href="style/style.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|PT+Serif:400,700&amp;subset=cyrillic-ext")
        script(src="js/script.js")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

    body
        
        +b.page._landing
        
            +b.header
                .page__wrapper
                    .menu-toggle
                    a.header__logo.logo
                        span.logo__text Правовой#[br]Советник
                    .logo.logo_qbf.header__logo_right
                
            .page__row.main
                .background.background_no-gradient(style="background-image:url(http://thecreativepastor.com/wp-content/uploads/2015/01/Screen-Shot-2015-01-21-at-1.10.20-PM.png);background-position:center center;")
                    .page__wrapper
                        .main__content.title.title_auto-height
                            h1 Приветственный текст
                            p &laquo;Правовой Советник&raquo; специально создан для того, чтобы эффективно и&nbsp;с&nbsp;наименьшими затратами решать вопросы любого правового характера, стоящие перед гражданами в&nbsp;их&nbsp;повседневной жизни.
                            
                                    
            .page__row.page__row_promo-form
                .page__wrapper
                    
                    +b.form._promo
                        +e.section._header
                            h2 Регистрация
                        form
                            +e.section
                                +e.LABEL.label Электронная почта
                                +e.INPUT.input._text(type="text", placeholder="Электронная почта")
                            +e.section
                                +e.LABEL.label ФИО
                                +e.INPUT.input._text(type="text", placeholder="ФИО")
                            +e.section
                                +e.LABEL.label Телефон
                                +e.INPUT.input._text(type="text", placeholder="+7")
                            +e.section
                                +e.LABEL.label Код авторизации
                                +e.INPUT.input._text(type="text", placeholder="Код авторизации")
                                
                            +e.section
                                +e.LABEL.label_checkbox
                                    +e.INPUT.input._checkbox(type="checkbox", value="")
                                    +e.SPAN.input_checkbox-text Я&nbsp;принимаю условия #[a(href="#") Оферты] и&nbsp;даю своё согласие на&nbsp;обработку моих персональных данных на&nbsp;условиях и&nbsp;для&nbsp;целей, #[br]определенных&nbsp;#[a(href="#") Политикой конфиденциальности]
                            
                            +e.section._footer
                                +e.INPUT.input._button.button.button_primary(type="submit", value="Авторизоваться") 
                            
        
            +b.footer.page__row
                .page__wrapper
                    +b.contacts.footer__contacts
                        +e.item._phone 8 800 555-29-35
                        +e.item._email: a.link(href="#") ps@ps-online.ru
                    +b.NAV.nav.footer__nav
                        +e.group
                            +e.item: a.link(href="#") Оферта
                            +e.item: a.link(href="#") Политика конфиденциальности
                    +e.about
                        +e.logo.logo
                        | © Правовой Советник, 2016–2018 #[br]Используя сервис, вы принимаете условия оферты
