//- page-a.pug
extends _layout.pug
    
block content
    +b.phases
        +e.wrapper 
            +e.phase Личные#[br] данные
            +e.phase Загрузка#[br] документов
            +e.phase Проверка#[br] документов
            +e.phase._active Мои#[br] документы
            +e.phase Оформление#[br] отправки документов
        
        
    +b.sheet
        +e.head: p Оформление отправки документов
        +e.body
            p Пожалуйста скачайте заявление, подпишите и загрузите подписанное заявление в личный кабинет.
            
            .b-files
                a.b-files__file(href="#") Заявление_на_выпуск_СКЛЭП.pdf
                
            form
                .form-group
                    label: b Подписанное заявление
                    +fileselect
                    
                .alert.alert-danger Ваше заявление находится на проверке
                
                +e.buttons  
                    button(type="submit").btn.btn-default.btn-lg Сохранить
                    button(type="submit",disabled).btn.btn-primary.btn-lg Подписать документы
