//- page-a.pug
extends _layout.pug
    
block content
    +b.phases
        +e.wrapper 
            +e.phase Личные#[br] данные
            +e.phase._active Загрузка#[br] документов
            +e.phase Проверка#[br] документов
            +e.phase Мои#[br] документы
            +e.phase Оформление#[br] отправки документов
        
        
        
    +b.sheet
        +e.head: p Приобретение и&nbsp;строительство жилья
        +e.body
            +b.upload
                +e.group._size_full._ready
                    +e.name Договор купли-продажи или договор долевого участия  
                    +fileselect(class="b-fileselect_multiple")
                        .b-fileselect__file
                            | Документ2.jpg
                            .b-fileselect__remove
                        .b-fileselect__file
                            | Документ3.jpg
                            .b-fileselect__remove
                +e.group._size_full._ready
                    +e.name Свидетельство о&nbsp;государственной регистрации права собственности
                    +fileselect(class="b-fileselect_multiple")
                +e.group._size_full._empty
                    +e.name Платежные документы, подтверждающие факт оплаты жилья (платежные поручения, квитанции об оплате, расписки)
                    +fileselect(class="b-fileselect_multiple")
                +e.group._size_full._empty
                    +e.name Акт приема-передачи жилья
                    +fileselect(class="b-fileselect_multiple")
            
            +e.buttons            
                button(type="button").btn.btn-default.btn-lg Назад
                button(type="submit").btn.btn-primary.btn-lg Сохранить
