//- page-a.pug
extends _layout.pug
    
block content
    +b.phases
        +e.wrapper 
            +e.phase._active Личные#[br] данные
            +e.phase Загрузка#[br] документов
            +e.phase Проверка#[br] документов
            +e.phase Мои#[br] документы
            +e.phase Оформление#[br] отправки документов
        
        
    +b.sheet
        +e.head
            +b.steps
                +e.step Данные о налогоплательщике
                +e.step._active Общие документы
        +e.body
            p Загрузите копии документов
            
            form
                +b.upload
                    +e.group._size_half._ready
                        +e.name ИНН                             
                        +fileselect
                    +e.group._size_half._ready
                        +e.name СНИЛС                          
                        +fileselect
                    +e.group._size_half._ready
                        +e.name Копия паспорта (страница&nbsp;3)                             
                        +fileselect
                    +e.group._size_half._empty
                        span.form-alert Документ не загружен
                        +e.name Копия паспорта (прописка)                          
                        +fileselect
                    +e.group._size_half._empty
                        span.form-alert Документ не загружен
                        +e.name Справка 2-НДФЛ                              
                        +fileselect
                    +e.group._size_half._empty
                        span.form-alert Документ не загружен
                        +e.name Банковские реквизиты                          
                        +fileselect
                        
                            
                +e.buttons
                    button(type="button").btn.btn-primary.btn-lg Сохранить
                    button(type="submit",disabled).btn.btn-primary.btn-lg Продолжить
