//- page-a.pug
extends _layout.pug
    
block content
    +b.phases
        +e.wrapper 
            +e.phase Личные#[br] данные
            +e.phase Загрузка#[br] документов
            +e.phase._active Проверка#[br] документов
            +e.phase Мои#[br] документы
            +e.phase Оформление#[br] отправки документов
        
        
        
    +b.sheet
        +e.head: p Проверка документов
        +e.body
            p Документы отправлены на проверку 25.09.2017 в 9:42#[br] Специалист: Светлана Александрова
            p: b Ответ специалиста
            
            .panel.panel-default
                .panel-body
                    h6 14:20 20.10.2017
                    p Добрый день. Пришлите, пожалуйста, акт приема-передачи жилья еще раз&nbsp;- копия получилась размытой.
                    
            form
                .form-group
                    label: b Прикрепить документы
                    +fileselect
                    
                +e.buttons
                    button(type="submit").btn.btn-primary.btn-lg Отправить
