//- page-a.pug
extends _layout.pug
    
block modal
    h3 Отправка документов в налоговую
    form
        .form-inline(style="text-align:center;")
            .form-group
                label Введите полученный СМС-код
                input(type="text").form-control
        .buttons
            input(type="submit",value="Отправить").btn.btn-default
    
block content
    +b.phases
        +e.wrapper 
            +e.phase Личные#[br] данные
            +e.phase Загрузка#[br] документов
            +e.phase Проверка#[br] документов
            +e.phase Мои#[br] документы
            +e.phase._active Оформление#[br] отправки документов
        
    +b.sheet
        +e.head
            +b.steps
                +e.step Подписание документов
                +e.step._active Договор поручения
        +e.body
            
            p Пожалуйста, скачайте указанный договор, подпишите и загрузите в личный кабинет.
            .b-files
                a.b-files__file(href="#") Договор поручения.pdf
                
            form
                .form-group
                    label: b Подписанный договор
                    +fileselect
                        
            .alert.alert-danger Ваш договор находится на проверке
            
            +e.buttons
                button(type="submit").btn.btn-default.btn-lg Сохранить
                button(type="submit",data-toggle="modal",data-target="#exampleModal").btn.btn-primary.btn-lg Отправить в ИФНС
