//- page-a.pug
extends _layout.pug

block modal
    p.success.success_final #[b Поздравляем!] Ваши документы находятся на проверка у наших специалистов.#[br] В ближайшее время вы будете проинформированы о результатах проверки.
        
    
block content
    +b.phases
        +e.wrapper 
            +e.phase Личные#[br] данные
            +e.phase._active Загрузка#[br] документов
            +e.phase Проверка#[br] документов
            +e.phase Мои#[br] документы
            +e.phase Оформление#[br] отправки документов
        
        
        
    +b.sheet
        +e.head: p Загрузите документы по&nbsp;одной или нескольким ситуациям
        +e.body
            +b.tabs._size_small
                +e.item._active: +e.label Имущественный вычет
                +e.item: +e.label Социальный вычет
                +e.item: +e.label Инвестиционный вычет
            +b.upload._type_summary
                +e.group._size_half._ready
                    +e.name Приобретение и&nbsp;строительство жилья (квартира, частный дом, комната, их доли)
                    +e.text: b Загружено документов: 4 из 4
                    +e.link(href="#")
                +e.group._size_half._empty
                    +e.name Приобретение земельного участка
                    +e.text: b Загружено документов: 1 из 3
                    +e.link(href="#")
                +e.group._size_half._empty
                    +e.name Расходы по уплате процентов по&nbsp;целевым кредитам (ипотечным кредитам) на&nbsp;строительство или приобретение жилья
                    +e.text: b Загружено документов: 2 из 3
                    +e.link(href="#")
                +e.group._size_half._empty
                    +e.name Расходы, связанные с&nbsp;отделкой/ремонтом жилья (если оно было приобретено у&nbsp;застройщика без&nbsp;отделки)
                    +e.text: b Загружено документов: 0 из 4
                    +e.link(href="#")
            +e.buttons
                button(type="submit",data-toggle="modal",data-target="#exampleModal").btn.btn-primary.btn-lg Отправить на проверку
                
