//- page-a.pug
extends _layout.pug
    
block content
    +b.phases
        +e.wrapper 
            +e.phase._active Личные#[br] данные
            +e.phase Загрузка#[br] документов
            +e.phase Проверка#[br] документов
            +e.phase Мои#[br] документы
            +e.phase Оформление#[br] отправки документов
        
        
    +b.sheet
        +e.head
            +b.steps
                +e.step._active Данные о налогоплательщике
                +e.step Общие документы
            //- Данные о налогоплательщике
            
        +e.body
            p 1. Введите личные данные
            form
                .form-group
                    label: b Фамилия, имя, отчество
                    input(type="text").form-control
                    span.form-alert Необходимо заполнить
                .row
                    .col-sm-6.col-xs-12
                        .form-group
                            label: b ИНН
                            input(type="text").form-control
                    .col-sm-6.col-xs-12
                        .form-group
                            label: b СНИЛС
                            input(type="text").form-control
                    
                label: b Паспортные данные
                .row
                    .col-sm-4.col-xs-6
                        .form-group
                            label Серия и номер
                            input(type="text").form-control
                    
                    .col-sm-5.col-xs-6
                        .form-group
                            label Дата выдачи
                            input(type="text").form-control
                            span.form-alert Необходимо заполнить
                .form-group
                    label Кем выдан
                    input(type="text").form-control
                .form-group
                    label: b Адрес регистрации
                    input(type="text").form-control
                .form-group
                    label: b Номер телефона
                    input(type="text").form-control
                    
                +e.buttons
                    button(type="button").btn.btn-primary.btn-lg Сохранить
            
