//- page-a.pug
extends _layout.pug
    
block content
    +b.phases
        +e.wrapper 
            +e.phase Личные#[br] данные
            +e.phase Загрузка#[br] документов
            +e.phase Проверка#[br] документов
            +e.phase._active Мои#[br] документы
            +e.phase Оформление#[br] отправки документов
        
        
    +b.sheet
        +e.head: p Мои документы
        +e.body
            p.success Поздравляем!#[br]Ваши документы готовы#[br]#[br]
            p: b Скачать документы
            
            .b-files
                a.b-files__file(href="#") Заявление на предоставление необходимых документов.docx
                a.b-files__file(href="#") Договор.xls
                a.b-files__file(href="#") image1.jpg
                
            p: b Порядок подачи
            p Ваша инспекция: ИФНС России по&nbsp;г. Архангельску, адрес: 163000, г. Архангельск, ул.&nbsp;Логинова, д.&nbsp;29
            p Вы&nbsp;можете направить указанные документы почтой ценным письмом с&nbsp;описью вложения, с&nbsp;уведомлением о&nbsp;вручении, либо самостоятельно сдать декларацию в&nbsp;вашу инспекцию, либо поручить подачу декларации нашим специалистам.#[br]#[br]#[b Перейти к оформлению отправки документов в налоговую инспекцию?]
            
            +e.buttons
                button(type="submit").btn.btn-primary.btn-lg Оформить
