//- page-a.pug
extends _layout.pug
    
block content
    +b.phases
        +e.wrapper 
            +e.phase Личные#[br] данные
            +e.phase Загрузка#[br] документов
            +e.phase Проверка#[br] документов
            +e.phase Мои#[br] документы
            +e.phase._active Оформление#[br] отправки документов
        
    +b.sheet
        +e.body
            
            p.success.success_final #[b Поздравляем!] Ваши документы получены налоговым органом
