//- page-a.pug
extends _layout.pug
    
block modal
    h3 Смс-подтверждение
    form
        .form-inline(style="text-align:center;")
            .form-group
                label Введите полученный СМС-код
                input(type="text").form-control
        .buttons
            input(type="submit",value="Отправить").btn.btn-default
    
block content
    +b.phases
        +e.wrapper 
            +e.phase Личные#[br] данные
            +e.phase Загрузка#[br] документов
            +e.phase Проверка#[br] документов
            +e.phase Мои#[br] документы
            +e.phase._active Оформление#[br] отправки документов
        
    +b.sheet
        +e.head
            +b.steps
                +e.step._active Подписание документов
                +e.step Договор поручения
        +e.body
            
            ul
                li Налоговая декларация.pdf
                li Заявление о возврате НФДЛ.pdf
            
            +e.buttons
                button(type="submit",data-toggle="modal",data-target="#exampleModal").btn.btn-default.btn-lg Продолжить
            
