mixin fileselect(name)
    .b-fileselect&attributes(attributes)= name
        button.b-fileselect__button Выберите файл
        .b-fileselect__list
            .b-fileselect__file
                | Документ1.jpg
                .b-fileselect__remove
            block
