.button {
    display: inline-block;
    // box-sizing: border-box;
    font-size: 12pt;
    line-height: 44px;
    padding: 0 24px;
    border-radius: 32px;
    border: 2px solid #6ab344;
    background: transparent;
    text-decoration: none;
    font-family: $font-caption;
    color: #6ab344;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        color: #6ab344;
        opacity: 0.9;
    }

    .price-block__cell & {
        @include tablet {
            line-height: 32px!important;
            padding: 0 20px;
        };
    }
    @include smartphone {
        padding: 0 20px;
        line-height: 36px!important;
        border-radius: 20px;
        font-size: 11pt;
        // font-weight: 400;
        text-transform: uppercase;
    };
}

.button__primary,
.button_color_green,
.button_primary {
    // background-color: rgba(231,165,22,.9);
    background-color: #6ab344;
    color: #fff;
    border-color: none;
    box-shadow: 0 -3px 0 rgba(0,0,0,.2) inset;
    border: none;
    line-height: 48px;

    &:hover {
        color: #fff;
    }
}

.button__small,
.button_size_small,
.button_small {
    padding: 0 20px;
    line-height: 36px;
    border-radius: 20px;
    font-size: 11pt;
    // font-weight: 400;
    text-transform: uppercase;
}

.card {
    margin-bottom: 20px;
    padding: 20px 40px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 4px 4px 0 rgba(0,0,0,.05);
    position: relative;
    overflow: hidden;
    @include desktop-narrow {
        padding: 15px 30px;
    };
    // .row & {
    //     margin-left: 5px;
    //     margin-right: 5px;
    // }
}
