

// .row{
//     overflow: hidden;
// }
//
// .row__col_1,
// .row__col_4,
// .row__col_8,
// .row__col_12{
//     float: left;
//     @include smartphone{
//         float: none;
//         float: none;
//     };
// }
//
// .row__col_12{
//     width:960px;
//     @include tablet{
//         width:560px;
//     };
//     @include smartphone{
//         width:auto;
//     };
// }
//
// .row__col_8{
//     width:66.666666%;
//     @include tablet{
//         width:50%;
//     };
//     @include smartphone{
//         width:auto;
//     };
// }
//
// .row__col_4{
//     width: 33.333333%;
//     @include tablet{
//         width:50%;
//     };
//     @include smartphone{
//         width:auto;
//     };
// }
