* {
    box-sizing: border-box;
}

body {
    background: #f6f5f3;
    font-family: $font-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-caption;
}

.desktop-only{
    min-width: 1280px;
    // overflow: hidden;
    // overflow-y: scroll;
}

.page {

    min-width: 320px;

    &.page_landing{

        .menu_toggle{
            display: none;
        }

        .header .page__wrapper{
            @include smartphone{
                padding: 0 16px;

                display: flex;
                justify-content: space-around;

                &:after{
                    display: none;
                }

                .menu-toggle{
                    display: none;
                }

                .logo{
                    display: inline-block;
                    width: auto;
                    height: 32px;
                    margin: 20px 0;
                    padding-left: 40px;
                    float: none;

                }

                .logo__text{
                    font-size: 10pt;
                    line-height: 16px;
                }

                .logo_qbf{
                    width: 96px;
                }
            };
        }
    }

    // min-height: 2000px;
    @include smartphone {
        padding-top: 72px;
    };
}

.page_blur {
    filter: blur(3px);
}

.page__row_white {
    background: #fff;
    padding: 60px 0 0;
    margin-bottom: -50px !important;
}

.page__row_dark {
    background: #333 url("gfx/bg/1_img_kii773b.jpg");
    background-size: cover;
    color: #fff;
    overflow: hidden;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        display: block;
        background: inherit;
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        filter: blur(2px);
    }

    &:after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.33);
    }
}

.page__row_promo-form{
    z-index: 100;
    position: relative;
    margin-top: -256px;
    @include smartphone{
        margin-top: -64px;
    };
}

.page__wrapper {
    width: $wrapperDesktop;
    box-sizing: border-box;
    // padding: 0 40px;
    margin: 0 auto;

    .desktop-only &{
        // width: 1280px;
    }
    @include desktop-narrow {
        width: $wrapperDesktopNarrow;
    };
    @include tablet {
        width: $wrapperTablet;
    };
    @include smartphone {
        width: auto;
        max-width: 460px;
        min-width: $wrapperSmartphone;
        padding: 0 20px;
    };

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.header {
    background: #fff;
    padding: 32px 0;
    line-height: 80px;
    height: 144px;
    @include tablet {
        height: 120px;
        padding: 24px 0;
        line-height: 72px;
    };
    @include smartphone {
        z-index: 400;
        position: fixed;
        top: 0;
        width: 100%;
        box-shadow: 4px 4px 0 rgba(0,0,0,.05);
        height: 72px;
        padding: 0;
    };

    .page__wrapper {
        @include smartphone {
            width: 100%;
            max-width: 100%;
            padding: 0 72px;
        };
    }
}

.menu-toggle {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 72px;
    height: 72px;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 32px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMyAxOGgxOHYtMkgzdjJ6bTAtNWgxOHYtMkgzdjJ6bTAtN3YyaDE4VjZIM3oiLz48L3N2Zz4=");
    @include smartphone {
        display: block;
    };
}

.header__logo {
    float: left;
}

.header__logo_right{
    float: right;
}

.header__contacts {
    float: right;

    .contacts__item {
        line-height: 80px;
        @include tablet {
            line-height: 72px;
        };
    }
    @include smartphone {
        display: none;
    };
}

.header__authorization {
    float: right;
    margin-left: 48px;
    @include smartphone {
        position: absolute;
        right: 16px;
    };

    .button {
        @include smartphone {
            vertical-align: middle;
            position: relative;
            top: -2px;
            width: 48px;
            height: 48px;
            padding: 0;
            font-size: 0;
            border-radius: 50%;
            white-space: nowrap;
            border: none;
            background-color: #6ab344;
            background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTIgMTdjMS4xIDAgMi0uOSAyLTJzLS45LTItMi0yLTIgLjktMiAyIC45IDIgMiAyem02LTloLTFWNmMwLTIuNzYtMi4yNC01LTUtNVM3IDMuMjQgNyA2aDEuOWMwLTEuNzEgMS4zOS0zLjEgMy4xLTMuMSAxLjcxIDAgMy4xIDEuMzkgMy4xIDMuMXYySDZjLTEuMSAwLTIgLjktMiAydjEwYzAgMS4xLjkgMiAyIDJoMTJjMS4xIDAgMi0uOSAyLTJWMTBjMC0xLjEtLjktMi0yLTJ6bTAgMTJINlYxMGgxMnYxMHoiLz48L3N2Zz4=");
            background-position: center center;
            background-repeat: no-repeat;
            box-shadow: 0 -3px 0 rgba(0,0,0,.2) inset;
        };
    }
}

.logo {
    display: block;
    position: relative;
    height: 80px;
    line-height: 80px;
    width: 200px;
    background-image: url("gfx/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 84px;
    color: #000;
    font-variant: small-caps;
    text-decoration: none;
    @include tablet {
        margin: 4px 0;
        width: 64px;
        height: 64px;
        height: 64px;
        line-height: 64px;
        padding-left: 72px;
    };
    @include smartphone {
        height: 48px;
        width: 48px;
        margin: 12px 0;
        padding-left: 64px;
    };
}

.logo_qbf{
    background-image: url("gfx/qbf.png");
    height: 80px;
    line-height: 80px;
    width: 200px;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    @include tablet{
        width: 160px;
    };
    @include smartphone{
        width: 96px;
    };

}

.logo__text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 16px;
    font-size: 24pt;
    line-height: 32px;
    letter-spacing: 1.4px;
    @include tablet {
        padding: 0 8px;
        font-size: 20pt;
        line-height: 28px;
    };
    @include smartphone {
        display: block;
        padding: 0;
        font-size: 14pt;
        line-height: 24px;
    };
}

.main h3.contacts__title {
    font-size: 12pt;
    display: block;
    // font-family: "Roboto";
    font-weight: bold;
    margin: 40px 0 0;
}

.authorization {
    float: right;

    .button {}
}

.nav {
    .nav__group {
        padding: 0;

        .nav__item {
            display: inline-block;
        }
    }
}

.menu {
    background: #921a1d;
    overflow: hidden;
    box-shadow: 4px 4px 0 rgba(0,0,0,.05);
    z-index: 200;
    position: relative;
    @include smartphone {
        display: none;
    };

    .nav {
        @include tablet {
            text-align: center;
        };

        .nav__item {
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-right: 32px;
            @include tablet {
                margin: 0 16px;
            };
            @include smartphone {};

            .link {
                text-decoration: none;
                line-height: 24px;
                color: #fff;
            }
        }
    }
}

.menu_submenu {
    // background: #fff;
    background: transparent;
    margin-bottom: -64px;
    box-shadow: none;
    overflow: hidden;
    @include smartphone {
        display: block;
        margin: 0;
        background: #921a1d;
    };

    .nav {
        .nav__item {
            margin-right: 32px;
            @include tablet {
                margin: 0 16px;
                font-size: 10pt;
            };
            @include smartphone {
                margin-top: 4px;
                margin-bottom: 4px;
            };

            .link {
                line-height: 32px;
                border-bottom: 1px solid #fff;
                @include smartphone {
                    line-height: 24px;
                };
            }

            &.nav__item_active {
                background: #fff;
                padding: 0 16px;
                border-radius: 16px;

                .link {
                    color: #000;
                }
            }
        }
    }
}

.footer {
    margin-top: 48px;
    padding: 40px 0 60px;
    // border-top: 2px dashed rgba(0,0,0,.1);
    background: #fff;
}

.footer__contacts {
    // float: right;
    @include tablet {
        float: none;
    };

    .contacts__item {
        display: inline-block;
        margin-right: 48px;
        margin-bottom: 20px;
        font-size: 14pt;
        padding-left: 32px;
        @include tablet {
            margin-left: 0;
            margin-right: 48px;
        };
        @include smartphone {
            width: 50%;
            margin: 0;
            font-size: 10pt;
            padding-left: 24px;
        };

        &:after {
            margin-top: -12px;
            width: 24px;
            height: 24px;
            @include smartphone {
                background-size: 20px;
                background-repeat: no-repeat;
                background-position: center left;
            };
        }

        .link {
            text-decoration: none;
            color: inherit;
            border-bottom: 1px solid rgba(0,0,0,.5);
        }
    }
}

.footer__nav {
    .nav__item {
        margin-right: 24px;
        font-size: 11pt;
        margin-top: 5px;
        margin-bottom: 5px;
        @include desktop-narrow {

                float: left;
                width: 33.33%;
                    margin-right: 0;
            float: left;
            width: 50%;
        };
        @include tablet {
            width: auto;
            margin-right: 24px;
            margin-bottom: 0;
        };
        @include smartphone {
            width: 50%;
            margin: 20px 0 0;
            font-size: 10pt;
        };
    }

    .nav__group {
        overflow: hidden;
        @include desktop-narrow {
            width: 50%;
        };
        @include tablet {
            width: auto;
            padding-bottom: 20px;
        };
        @include smartphone {};
    }

    .link {
        color: #000;
        font-family: $font-caption;
        text-decoration: none;
        border-bottom: 1px solid #bbb;
    }
}

.footer__about {
    font-family: $font-caption;
    margin-top: 40px;
    font-size: 10pt;
    line-height: 1.5em;
    color: #666;
    // overflow: hidden;
    position: relative;
    @include smartphone {
        padding-left: 64px;
    };
}

.footer__logo {
    float: left;
    width: auto;
    margin: 0 16px 0 0!important;
    background-size: 48px;
    padding-left: 48px;
    height: 48px;
    background-position: top left;
    filter: grayscale(100%);
    opacity: 0.75;
    @include smartphone {
        position: absolute;
        left: 0;
    };
}

.horizontal-scroll {
    position: relative;
    margin: -100px 0 0;
    padding-top: 50px;
    overflow-x: scroll;
    // width: 100%;
    // &:after{
    //     content: "";
    //     display: block;
    //     position: absolute;
    //     left: 0;
    //     bottom: -20px;
    //     width: 100%;
    //     height: 40px;
    //     background: #f6f5f3;
    //     z-index: 500;
    // }
    &::-webkit-scrollbar {
    display: none;  // Safari and Chrome
}
    @include tablet {
        margin: -50px 0 0;
    };
    @include smartphone {
        margin: -50px -20px 0;
    };

    .horizontal-scroll__shadows {
        display: none;
        position: absolute;top:0;
        bottom:0;
        width: 100%;

        &:after,
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            height: 100%;
            width: 40px;
            z-index: 5000;
        }

        &:after {
            left: 0;
            background: linear-gradient(to right, rgba(246,245,243,0.65) 0%,rgba(246,245,243,0) 100%);
        }

        &:before {
            right: 0;
            background: linear-gradient(to right, rgba(246,245,243,0) 0%,rgba(246,245,243,0.65) 100%);
        }
    }
}

span.check {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-size: contain;
    background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNOSAxNi4xN0w0LjgzIDEybC0xLjQyIDEuNDFMOSAxOSAyMSA3bC0xLjQxLTEuNDF6Ii8+PC9zdmc+");
    border: none;
    background-color: #6ab344;
}

.anchor{
    color:inherit;
    text-decoration: none;
}
