.login {
    padding: 60px 0;
    @include tablet {
        padding: 20px 0;
    };
}

.login__section {
    display: block;
    margin: 20px;
    padding: 0 140px;
    @include tablet {
        padding: 0 20px;
    };
}

.login__label {
    display: none;
}

.login__input {
    font-size: 16pt;
    width: 100%;
    line-height: 48px;
    height: 52px;
    padding: 0 16px;
    border-radius: 4px;
    border: 2px solid #ddd;

    &:focus {
        border-color: #6ab344;
        // border-color: #fc0;
        border-style: dotted;
        outline: none;
    }
    @include smartphone {
        line-height: 32px;
        padding: 0 8px;
        font-size: 12pt;
        height: 36px;
    };
}

.login__submit {
    @include smartphone {
        line-height: 40px;
    };
}

.login__submit:focus {
    // background: #7cd250;
    outline: none;
    line-height: 44px;
    padding: 0 22px;
    // border:2px solid mix(rgba(0,0,0,.5), #fc0);
    border: 2px solid #fc0;
    box-shadow: 0 -1px 0 rgba(0,0,0,.2) inset;
}

.login__section_submit {
    text-align: center;
    margin-top: 40px;

    .button {
        margin: 0;
    }
}

.login__section_remind {
    text-align: center;

    .link {
        color: #999;
        font-size: 10pt;
    }
}

.login__section_error {
    .login__input {
        border-color: rgba(255,99,99,.9);

        &:focus {
            border-color: #f90;
        }
    }
}

.login__alert, .form-alert {
    display: inline-block;
    position: relative;
    background: rgba(255,99,99,.9);
    color: #fff;
    padding: 4px 6px;
    margin: 10px 10px -20px;
    font-size: 10pt;
    border-radius: 2px;

    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 10px;
        top: -10px;
        border-left: 10px solid #fff;
        border-right: 10px solid #fff;
        border-bottom: 10px solid rgba(255,99,99,.9);
    }
}
