.activity {
    font-size: 0;
    column-count: 2;
    column-gap: 40px;
    column-fill: all;
    // margin-top: 20px;
    position: relative;
    z-index: 100;
    @include tablet {
        column-count: 1;
    };
}

.activity__type {
    display: inline-block;
    // width: 50%;
    padding-bottom: 30px;
    padding-right: 60px;
    margin-bottom: 40px;
    vertical-align: top;
    background: #fff;
    box-shadow: 4px 4px 0 rgba(0,0,0,.05);
    border-radius: 6px;
    break-inside: avoid-column;
    // overflow: hidden;
    // border:3px solid #6ab344;
    @include tablet {
        padding-right: 40px;
        padding-left: 0;
    };
    @include smartphone {
        padding: 20px;
    };
}

.activity__icon {
    position: relative;
    float: left;
    width: 56px;
    height: 172px;
    background-color: transparentize(#6ab344,.5);
    // background-color: #6ab344;
    // border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center 32px;
    background-size: 50px;
    margin: 0 20px 20px 44px;
    // &:after {
    //     // content: "";
    //     display: block;
    //     position: absolute;
    //     bottom: -4px;
    //     right: -4px;
    //     margin: 0;
    //     width: 32px;
    //     height: 32px;
    //     background-color: #6ab344;
    //     background-image: url("gfx/icons/icons8-Checkmark.svg");
    //     background-repeat: no-repeat;
    //     background-position: center center;
    //     background-size: 24px;
    //     border-radius: 50%;
    // }
    @include smartphone {
        float: none;
        width: 32px;

        height: 0;
        margin: 0 0 0 24px;
        background: none;
    };

    &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 96px;
        // background-color: #FFF;
        background-image: url("gfx/triangle.svg");
        background-repeat: no-repeat;
        background-position: bottom center;
        z-index: 5;
        @include smartphone {
            display: none;
        };
    }

    &:before {
        content: "";
        display: block;
        position: absolute;
        background-color: #fff;
        background-image: inherit;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 40px;
        border-radius: 50%;
        width: 72px;
        height: 72px;
        border: 3px solid #6ab344;
        top: 24px;
        left: 50%;
        margin-left: -39px;
        z-index: 10;
        @include smartphone {
            width: 48px;
            height: 48px;
            background-size: 24px;
        };
    }
}

.activity__icon_contract {
    background-image: url("gfx/icons/icons8-Agreement-100.png");
}

.activity__type:nth-child(1) .activity__icon {
    background-image: url("gfx/icons/icons8-Agreement-100.png");
}

.activity__type:nth-child(2) .activity__icon {
    background-image: url("gfx/icons/icons8-Paid-100.png");
}

.activity__type:nth-child(3) .activity__icon {
    background-image: url("gfx/icons/icons8-Home-100.png");
}

.activity__type:nth-child(4) .activity__icon {
    background-image: url("gfx/icons/icons8-Permanent Job-100.png");
}

.activity__type:nth-child(5) .activity__icon {
    background-image: url("gfx/icons/icons8-Accounting-100.png");
}

.activity__type:nth-child(6) .activity__icon {
    background-image: url("gfx/icons/icons8-Keyhole Shield-100.png");
}

.activity__type:nth-child(7) .activity__icon {
    background-image: url("gfx/icons/icons8-Certificate-100.png");
}

.activity__type:nth-child(8) .activity__icon {
    background-image: url("gfx/icons/icons8-Family-100.png");
}

.activity__type:nth-child(9) .activity__icon {
    background-image: url("gfx/icons/icons8-Map Marker-100.png");
}

h2.activity__name {
    font-size: 20pt;
    margin: 40px 0 20px 144px;
    @include smartphone {
        margin-left: 72px;
        font-size: 16pt;
        margin-top: 36px;
        text-align: left;
        height: 48px;

    };
}

p.activity__text {
    font-size: 12pt;
    line-height: 1.5em;
    margin: 20px 0 20px 144px;
    @include smartphone {
        margin: 0;
    };
}
