.main {
    margin: 0 auto;
    min-height: 480px;
    @include smartphone {
        min-height: auto;
    };

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 400;
    }

    h1 {
        font-size: 28pt;
        margin: 164px 0 0;
        @include smartphone {
            margin-top: 64px;
        };
    }

    h2 {
        // text-align: center;
        font-size: 20pt;
        margin: 80px 0 40px;
        @include smartphone {
            text-align: center;
        };
    }

    p {
        line-height: 1.5em;
        margin: 20px 0;
    }
}

.main__content {
    // padding: 40px;
    // background: #fff;
    border-radius: 6px;
    // width: 960px;
    margin: 0 auto;
    position: relative;
}

.main__content_paper {
    // background: #fff;
    // padding: 40px;
    // overflow: hidden;
    // box-shadow: 4px 4px 0 rgba(0,0,0,.05);
}

.title {
    margin-bottom: 140px;
    position: relative;
    z-index: 100;
    @include smartphone {
        margin-bottom: 80px;
        text-align: center;
    };

    &.title_auto-height{
        margin-bottom: 192px;
        
        h1{
            margin-top: 128px;
            text-align: left;
        }
        
        p{
        text-align: left;
        }
    }

    &.title_wide {
        text-align: center;

        h1 {
            font-weight: bold;
            font-size: 16pt;
            letter-spacing: 4px;
            text-transform: uppercase;
            // font-family: "PT Serif";
        }

        p {
            width: 75%;
            margin: 40px auto;
            text-align: justify;
            // font-family: "PT Serif";
            @include tablet {
                width: 100%;
            };
        }

        .button {}
    }

    h1 {
        font-size: 40pt;
        font-size: 300;
        @include smartphone {
            font-size: 20pt;
        };
    }

    p {
        width: 60%;
        font-size: 14pt;
        font-family: "Open Sans";
        @include tablet {
            width: 75%;
        };
        @include smartphone {
            font-size: 12pt;
            width: 100%;
        };
    }

    .button {
        margin-top: 20px;
        border: none;
        line-height: 48px;
        box-shadow: 0 -3px 0 rgba(0,0,0,.2) inset;
    }
}

.background {
    background: #ddd;
    // background: #fff!important;
    color: #fff;
    overflow: hidden;
    padding-bottom: 100px;
    margin-bottom: -100px;
    position: relative;
    background-size: cover;

    &:after {
        content: "";
        pointer-events: none;
        display: block;
        position: absolute;
        bottom: 0;
        height: 100%;
        left: 0;
        right: 0;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(246,245,243,1) 100%);
        // background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    }
    
    &.background_no-gradient:after{
        height: 50%;
    }

    p {
        text-shadow: 1px 1px 5px rgba(0,0,0,.75);
    }
}

.background_auto-height{
    
}

.blank {
    margin: 60px 0;
}
