.business {
    column-count: 4;
    column-gap: 30px;
    column-fill: all;
    padding-bottom: 30px;
    @include desktop-narrow{
        column-count: 3;
    };
    @include tablet{
        column-count: 2;
    };
    @include smartphone{
        column-count: 1;
    };
}

.business__icon {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    // border-radius: 50%;
    // border: 2px solid #ccc;
    margin-left: -5px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50px;
    overflow: hidden;
}

.business__icon_consult {
    background-image: url("gfx/icons/icons8-Ask Question-100.png");
}

.business__icon_blank {
    background-image: url("gfx/icons/icons8-Document-100.png");
}

.business__icon_docs {
    background-image: url("gfx/icons/icons8-Documents-100.png");
}

.business__icon_rules {
    background-image: url("gfx/icons/icons8-Edit Property-100.png");
}

.business__icon_labor {
    background-image: url("gfx/icons/icons8-Profile-100.png");
}

.business__icon_negotiation {
    background-image: url("gfx/icons/icons8-Handshake-100.png");
}

.business__icon_interests {
    background-image: url("gfx/icons/icons8-Business-100.png");
}

.business__icon_claim {
    background-image: url("gfx/icons/icons8-Stationery-100.png");
}

.business__icon_administrative {
    background-image: url("gfx/icons/icons8-Scales-100.png");
}

.business__icon_order {
    background-image: url("gfx/icons/icons8-Crane-100.png");
}

.business__icon_proceedings {
    background-image: url("gfx/icons/icons8-Law-100.png");
}

.business__service {
    display: inline-block;
    background: #fff;
    box-shadow: 4px 4px 0 rgba(0,0,0,.05);
    border-radius: 6px;
    margin: 0 0 30px;
    padding: 30px 30px 40px;
    // padding-top: 120px;
    break-inside: avoid-column;
    // overflow: hidden;
    @include desktop-narrow{

    };
}

.business__title {
    font-size: 14pt;
    line-height: 1.5em;
    margin: 0 0 20px;
    font-weight: bold!important;
    font-family: "Open Sans";
    // text-transform: lowercase;
    // letter-spacing: 2px;
}

.business__text {
    line-height: 1.5em;
    opacity: 0.8;
}

.business__action{
    text-align: center;
    margin: 60px 0;
    @include smartphone{
        margin: 20px 0;
    };
    .button{
        margin: 0;

    }
}

.gowriteus {
    background: #fff;
    width: 50%;
    padding: 40px 60px;
    margin: 60px auto;
    font-size: 15pt;
    line-height: 1.5em;
    text-align: center;
    @include smartphone{
        text-align: left;
        font-size: 12pt;
        width: 100%;
        padding: 20px;
    };

    a {
        color: #39f;
        text-decoration: none;
        border-bottom: 1px solid transparentize(#39f, .5);
    }
}
