
.contacts {
    font-size: 0;
}

.contacts.contacts_full {
    overflow: hidden;
    padding: 0 0 60px;
    @include smartphone{
        margin-top: -40px;
    };
}

.contacts__map {
    height: 420px;
    width: 50%;
    background: #ccc;
    float: right;
    box-shadow: 0 30px 30px -20px rgba(0,0,0,.25);
    @include smartphone{
    width: 100%;
    float: none;
    margin-top: 40px;
    };
}

.contacts__details {
    width: 50%;
    float: left;
    padding-right: 40px;
    @include smartphone{
        width: 100%;
        float: none;
    };
}

.contacts__item {
    // display: inline-block;
    position: relative;
    font-family: $font-caption;
    // margin-left: 32px;
    font-size: 16pt;
    // padding-left: 40px;
    clear: top;
    padding-left: 40px;

    .contacts_full & {
        padding: 0;
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -16px;
        width: 32px;
        height: 32px;
        background-size: contain;
        opacity: 0.5;
    }

    p {
        font-size: 12pt;
        margin: 20px 0;
        display: block;
    }
}

.contacts__item_iconed {
    float: left;
    margin-bottom: 40px;
    width: 50%;
    @include smartphone{
        float: none;
        width: 100%;
    };

    h3 {
        margin: 0;
    }

    p {
        font-size: 22pt;
        margin-top: 15px !important;
        @include desktop-narrow{
            font-size: 18pt;
        };
        @include tablet{
            font-size: 12pt;
        };
    }
}

.contacts__item_phone {
    &:after {
        background-image: url("gfx/phone.svg");
    }
}

.contacts__item_email {
    &:after {
        background-image: url("gfx/email.svg");
    }
}
