.promo {
    background: #999;
    color: #fff;
    overflow: hidden;
    background-size: cover;
    background-position: center bottom;
    position: relative;

    &:after {
        content: "";
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        background-color: transparentize(#262c42, .75);
    }
}

.promo__content {
    min-height: 400px;
    position: relative;
    z-index: 100;
    @include tablet{
        min-height:360px;
    };
    @include smartphone{
        min-height: auto;
        padding-bottom: 160px;
    };
}

.promo__title {
    margin: 120px 0 40px;
    font-size: 32pt;
    width: 50%;
    @include tablet{
        margin: 60px 0 40px;
        font-size: 28pt;
    };
    @include smartphone{
        width: 75%;
    };
}

.promo__text {
    font-size: 14pt;
    line-height: 1.5em;
    width: 50%;
    @include tablet{
        font-size: 12pt;
        width: 75%;
    };
    @include smartphone{
        width: 100%;
    };
}

.services {
    position: relative;
    z-index: 200;
    margin-top: -120px;
    display: flex;
    justify-content: space-between;
    @include tablet{
        display: block;
    };

}
.services__item{
    // height: 225px;
    // width: 410px;
    width: calc(1100px/3);
    @include desktop-narrow{
        width: calc(920px/3);
            height: 320px;
    };
    @include tablet{
        width: auto;
        height: auto;
    };
}

.services__item-name{
    line-height: 1.5em;
    margin-right: 80px;
    margin-bottom: 30px;
    @include desktop-narrow{
        height: 84px;
    };
    @include tablet{
        height: auto;
    };

}

.services__item-text{
    line-height: 1.33em;
    height: 64px;
    @include desktop-narrow{
        height: 72px;
    };
    @include tablet{
        height: auto;
    };
}

.services__action{
    margin: 10px 0;
    @include desktop-narrow{
        margin: 20px 0;
    };
}

.services__icon {
    width: 64px;
    height: 64px;
    // background: #ddd;
    float: right;
    margin-top: 20px;
    top:-10px;
    right:-10px;
    position: relative;
    background-size: contain;
    background-position: center center;
    // opacity: .5;
}

.services__icon_tax-refund {
    background-image: url("gfx/icons/tax-refund.svg");
}

.services__icon_individuals {
    background-image: url("gfx/icons/individuals.svg");
}

.services__icon_business {
    background-image: url("gfx/icons/business.svg");
}

.cases{

    display: flex;
    justify-content: space-between;
    @include tablet{
        display: block;
    };
}

.cases__item{
    position: relative;
    // width: 625px;
    height: 320px;
    padding-right: 15%;
    width: calc(1120px/2);
    @include desktop-narrow{
        width: calc(940px/2);
        height: 420px;
    };
    @include tablet{
        width: auto;
        height: auto;
    };
}


.cases__item-name{
    position: relative;
    z-index: 200;
    font-size: 18.72px;
    line-height: 1.5em;
    font-weight: bold;
    color:#fc0;
    a{
        color:#000;
        text-decoration: none;
        border-bottom: 2px solid rgba(0,0,0,.5);
    }
}
.cases__item-text{
    position: relative;
    z-index: 200;
    line-height: 1.5em;
    opacity: .8;
}

.cases__image{
    position: absolute;
    z-index: 100;
    right:0;
    top:0;
    bottom:0;
    width: 50%;
    background-size: cover;
    background-position: center center;
    &:after{
        content: "";
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0.25+100 */
background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.25) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0.25) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0.25) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#40ffffff',GradientType=1 ); /* IE6-9 */
    }
}
