.price-block {
    // border: 2px solid #ddd;
    display: table;
    background: #fff;
    position: relative;
    // padding: 10px 0;
    border-radius: 6px;
    margin: 60px 0;
    font-family: "Open Sans";
    // table-layout: fixed;
    box-shadow: 4px 4px 0 rgba(0,0,0,.05);
    // overflow: hidden;
    @include tablet {
        margin: 20px 0;
    };
}

.price-block__row {
    overflow: hidden;
    display: table-row;

    .price-block__cell {
        // border-top: 1px dashed #eee;
        //
        // &:first-child {
        //     border-left: 4px solid #00bbe4;
        // }
        //
        // &:last-child {
        //     border-right: 4px solid #00bbe4;
        // }
    }

    &:nth-child(2) {
        .price-block__cell {
            border-top: none!important;
        }
    }

    &:nth-child(even) {
        .price-block__cell {
            background: #f4f7fa;
        }
    }
}

.price-block__row_head {
    .price-block__cell {
        border-top: none;
        background: #fff!important;
        border-color: #fff;
        text-align: center;
        color: #000;
        padding: 20px;
        @include tablet {
            padding: 10px;
        };
    }
}

.price-block__row_foot {
    .price-block__cell {
        background: #383838!important;
        border-color: #666;
        color: #fff;
        text-align: center;
        padding: 30px 0;

        .price {
            font-size: 20pt;
            font-family: sans-serif;
            margin: 0 0 20px;
            text-align: center;
            @include tablet {
                font-size: 14pt;
            };
        }

        .button {}
    }
}

.price-block__cell {
    display: table-cell;
    position: relative;
    // float: left;
    width: 15%;
    padding: 20px;
    border-left: 1px dashed #ddd;
    @include tablet {
        padding: 10px;
    };

    p {
        margin: 0;
        font-size: 12pt;
        text-align: center;
        @include tablet {
            font-size: 10pt;
        };

        b {
            display: block;
            font-weight: 400;
            font-size: 18pt;
            margin-bottom: 5px;
            @include tablet {
                font-size: 14pt;
            };
        }
    }

    h3 {
        font-size: 10pt;
        font-weight: 300;
        text-transform: uppercase;
        margin: 0;
        letter-spacing: 1px;

        b {
            display: block;
            font-size: 18pt;
            margin-top: 5px;
            @include tablet {
                font-size: 14pt;
            };
        }
    }

    .best-choise {
        position: absolute;
        top: -40px;
        left: 50%;
        width: 140px;
        margin-left: -70px;
        background: #6ab344;
        color: #fff;
        padding: 10px 0;
        border-radius: 8px 8px 0 0;
        @include tablet {
            font-size: 10pt;
            top: -50px;
            width: 80px;
            margin-left: -40px;
        };
    }
}

.price-block__cell_bordered {
    border-left: 4px solid #6ab344!important;
    border-right: 4px solid #6ab344!important;
    @include tablet {
        border-width: 2px!important;
    };

    .price-block__row_head & {
        border-top: 4px solid #6ab344!important;
        border-radius: 4px 4px 0 0;
        @include tablet {
            border-width: 2px!important;
        };
    }

    .price-block__row_foot & {
        border-bottom: 4px solid #6ab344!important;
        // border-radius:  0 0 4px 4px;
        @include tablet {
            border-width: 2px!important;
        };
    }
}

.price-block__cell_type {
    // float: left;
    width: 25%;
    border: none;

    p {
        text-align: left!important;
    }
}

.features {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: "Open Sans";
    // margin: 40px 0;
}

.features__item {
    // width: 200px;
    padding-right: 40px;
    width: 33.33%;
    margin-bottom: 40px;
    @include tablet {
        padding-left: 0;
    };
    @include smartphone {
        width: 100%;
        text-align: center;
        padding-right: 0;
    };
}

.features__icon {
    width: 72px;
    height: 72px;
    background: #fff;
    // border: 1px solid #ddd;
    border-radius: 50%;
    margin-bottom: 20px;
    float: left;
    background-position: center center;
    background-repeat: no-repeat;
    @include tablet {
        float: none;
    };
    @include smartphone {
        float: none;
        margin: 0 auto 20px;
    };
}
// $icons: quick, payment, secure;
//
// @mixin icons($icons){
//     @for $i from 1 through length($icons) {
//         .features__icon_name_#{$icons,$i} {
//             background-image: url("gfx/icons/#{$icons,$i}.png");
//         }
//     }
// }

.features__icon_name_quick {
    background-image: url("gfx/icons/icons8-Sofa-50.png");
    background-position: center 30%;
}

.features__icon_name_payment {
    background-image: url("gfx/icons/payment.png");
}

.features__icon_name_secure {
    background-image: url("gfx/icons/secure.png");
}

.features__name {
    margin-left: 96px;
    font-size: 20pt;
    // font-weight: 100;
    margin-bottom: 10px;
    @include tablet {
        margin-left: 0;
    };
    @include smartphone {
        font-size: 16pt;
    };
}

.features__text {
    margin-left: 96px;
    font-size: 12pt;
    line-height: 1.5em;
    font-weight: 400;
    @include tablet {
        margin-left: 0;
        font-size: 11pt;
    };
    @include smartphone {};
}

.very-secure {
    // width: 75%;
    text-align: center;
    margin: 40px auto;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5em;
    // font-weight: bold;
    // opacity: 0.75;
    @include tablet {
        font-size: 10pt;
        width: 50%;
        vertical-align: middle;

        span {
            display: inline-block;
        }
    };
    @include smartphone {
        width: 100%;
    };
}

.very-secure__kassa,
.very-secure__pci-dss {
    display: inline-block;
    height: 32px;
    margin: 0 4px;
    font-size: 0;
    vertical-align: 16px;
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    @include tablet {
        margin: 8px 0;
        // vertical-align: middle;
    };
}

.very-secure__kassa {
    background-image: url("gfx/kassa.svg");
    width: 120px;
    margin-bottom: 10px;
}

.very-secure__pci-dss {
    background-image: url("gfx/verified-pci.svg");
    width: 90px;
    @include tablet {
        margin-top: 15px;
    };
}
