.refund-cases {
    box-shadow: 4px 4px 0 rgba(0,0,0,.05);
    background: #fff;
    padding: 64px 32px;
    border-radius: 6px;
    font-size: 0;
    font-family: "Open Sans";
    @include tablet {
        padding: 48px 32px;
    };
}

.refund-cases__icon {
    position: relative;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 3px solid #6ab344;
    margin: 0 0 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40px;
    @include tablet {
        width: 48px;
        height: 48px;
        background-size: 25px;
        border-width: 2px;
    };

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        border-top: 4px dotted #6ab344;
        left: 110%;
        width: 200%;
        @include tablet {
            border-width: 3px;
        };
    }

    &:before {
        content: "";
        display: block;
        position: absolute;
        width: inherit;
        height: inherit;
        border-radius: 50%;
        top: -3px;
        left: 200%;
        background: #fff url("gfx/icons/icons8-Coins-48.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: inherit;
        z-index: 10;
        @include tablet {
            background-size: 32px;
        };
    }
}

.refund-cases__icon_1 {
    background-image: url("gfx/icons/icons8-Home.svg");
}

.refund-cases__icon_2 {
    background-image: url("gfx/icons/icons8-School-64.png");
}

.refund-cases__icon_3 {
    background-image: url("gfx/icons/invest.png");
}

.refund-cases__title {
    margin: 0 0 64px;
    font-size: 24pt;
    text-align: center;
    @include smartphone{
        font-size: 18pt;
        margin-bottom: 32px;
    };
}

.refund-cases__item {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    font-size: 12pt;
    padding: 0 32px;
    // text-align: center;
    @include tablet {
        padding: 0 8px;
        font-size: 11pt;
    };
    @include smartphone{
        display: block;
        width: 100%;
        padding: 0;
        margin-top: 32px;
    };
}

.refund-cases__name {
    font-size: 14pt;
    line-height: 1.5em;
    font-weight: bold;
    width: 0;
    margin: 0 0 15px;
}

.refund-cases__text {
    font-size: 11pt;
    line-height: 1.5em;
    @include tablet {
        font-size: 10pt;
    };
}

.refunding {
    margin: 32px 0;
    box-shadow: 4px 4px 0 rgba(0,0,0,.05);
    background: #fff;
    padding: 32px 0 0;
    border-radius: 6px;
    overflow: hidden;
    @include smartphone{
        padding: 16px 0 0;
    };

    h2 {
        margin: 32px 64px 64px;
        @include smartphone{
            font-size: 18pt;
            margin-bottom: 32px;
            text-align: center;
        };
    }
}

.refunding__step {
    position: relative;
    // background: #ddd;
    padding: 0 64px;
    margin: 32px 0;
    text-align: left;
    line-height: 96px;
    font-size: 0;
    @include tablet {
        padding: 0 48px;
        line-height: 64px;
    };
    @include smartphone{
        padding: 0 32px 32px 32px;
        margin: 0;
        overflow: hidden;
    };
}

.refunding__icon {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #921a1d;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    @include tablet {
        width: 48px;
        height: 48px;
        background-size: 24px;
    };
    @include smartphone{
        display: block;
        float:left;
    };

    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: 100%;
        height: 150%;
        margin-left: -2px;
        border-left: 4px dotted #921a1d;
        @include smartphone{
            height: 200px;
        };
    }
    // .refunding__step:first-child &:before {
    //     display: none;
    // }
}

.refunding__icon_1 {
    background-image: url("gfx/icons/clipboard.svg");
}

.refunding__icon_2 {
    background-image: url("gfx/icons/edit.svg");
}

.refunding__icon_3 {
    background-image: url("gfx/icons/forward.svg");
}

.refunding__icon_4 {
    background-image: url("gfx/icons/crown.svg");
}

.refunding__text {
    display: inline-block;
    max-width: 640px;
    vertical-align: middle;
    padding: 0 32px;
    font-size: 12pt;
    line-height: 1.5em;
    @include smartphone{
        display: block;
        padding:0 0 0 64px;
    };
}

.refunding__buy {
    background: #383838;
    padding: 48px 64px;
    overflow: hidden;
    position: relative;
    z-index: 10;
    @include tablet {
        padding: 48px 48px;
    };
    @include smartphone{
        padding: 32px 32px 32px 32px;
        margin: 0;
        overflow: hidden;
    };
}

.refunding__done {
    float: left;

    .refunding__icon {
        border: 3px solid #fff;
        background-color: #383838;
        background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNOSAxNi4xN0w0LjgzIDEybC0xLjQyIDEuNDFMOSAxOSAyMSA3bC0xLjQxLTEuNDF6Ii8+PC9zdmc+");

        @include tablet {
            border-width: 2px;
        };
        &:before {
            border-left: 4px dotted #fff;
            top: auto;
            bottom: 100%;
        }
    }

    .refunding__text {
        font-size: 20pt;
        font-family: sans-serif;
        color: #fff;
        @include tablet {
            font-size: 11pt;
        };
    }
}

.refunding__price {
    line-height: 64px;
    float: right;
    @include tablet {
        line-height: 48px;
    };
    @include smartphone{
        padding: 0 0 0 64px;
    };

    .price {
        display: inline-block;
        color: #fff;
        font-size: 20pt;
        line-height: 48px;
        vertical-align: middle;
        font-family: sans-serif;
        margin: 0 20px 0 0;
        @include tablet {
            font-size: 11pt;
        };
    }
}
