.form {
    overflow: hidden;
    width: auto;
    max-width: 720px;
    margin: 80px auto 60px;
    font-family: "Open Sans", sans-serif;
    padding: 0 0 20px;
    border: 3px solid #ddd;
    background: #fff;
    color:#000;
    @include smartphone {
        margin: 20px auto;
    };
}

.form_promo{
    border:none;
    border-radius: 8px;box-shadow: 4px 4px 0 rgba(0,0,0,.05);
}

.form__section {
    padding: 0 80px;
    margin: 40px 0;
    position: relative;
    display: table;
    width: 100%;
    @include tablet {
        padding: 0 60px;
    };
    @include smartphone {
        padding: 0 20px;
        margin: 20px 0;
    };

    p {
        margin: 0 0 10px;
        font-size: 10pt;
    }

    .very-secure {
        text-align: right;
        width: 75%;
        float: right;
        margin: 0;
        font-size: 10pt;
        line-height: 48px;
        vertical-align: bottom;
        @include smartphone {
            float: none;
            width: 100%;
            margin-top: 20px;
            text-align: center;
        };

        .very-secure__kassa {
            width: 100px;
            margin: 0;
            vertical-align: -4px;
            height: 24px;
        }
    }
}

.form__section_header {
    h2 {
        margin: 30px 0 0;
        font-weight: 400;
        @include smartphone{
            margin: 15px 0;
            font-size: 14pt;
        };
    }
}

.form__section_footer {
    // background: #333338;
    // margin: 0;
    text-align: center;
    .form__input_button {
        // margin: 0 0 60px;
    }
}

.form__section_subsection {
    padding: 0;
    margin: 0;
    width: 33.33%;
    float: right;
    @include smartphone {
        float: none;
        width: 100%;
    };
}

.form__section_cart {
    display: block;
    overflow: hidden;
    width: auto;
    // margin: 60px 40px 0;
    background: #f6f5f3;
    padding-top: 40px;
    padding-bottom: 40px;
    // border: 4px solid #fff;
    // margin-left: 40px;
    // margin-right: 40px;
    // padding: 0 40px;
    // border-radius: 8px;
    color: #000;
    // padding-top:40px;
    // padding-bottom:40px;
    .form__input[type="text"] {
        // color: #000;
        background: #fff;
        padding: 0 8px;
    }
    @include smartphone {
        margin: 20px 0;
        padding: 20px;
    };
}

.form__section_error {
    form__label,
    p {
        color: #d00;
    }

    .form__input[type="text"] {
        border-color: #d00;
    }

    .form__alert {
        // color: #d00;
    }
}

.form__section_radio {
    .form__label {
        display: block;
        margin-bottom: 20px;
    }
}

.form__product {
    width: 50%;
    float: left;
    // margin: 40px 0;
    // padding: 20px;
    // border:2px solid #fff;
    @include smartphone {
        float: none;
        width: 100%;
    };
}

.form__product-name {
    font-size: 16pt;
    line-height: 1.5em;
    // font-style: italic;
    margin-bottom: 20px;
    @include smartphone {
        font-size: 16pt;
    };
}

.form__product-price {
    font-size: 18pt;
    line-height: 1.5em;
    @include smartphone {
        font-size: 18pt;
    };
}

.form__label {
    display: block;
    display: none;
}

.form__label_success {
    display: block;
    font-weight: bold;
    color: #6ab344;
    // margin: 20px 0;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    line-height: 1.5em;
}

.form__label_checkbox{
    display: block;
}

.form__alert {
    // display: block;
    // margin: 5px 0 0;
    // font-size: 10pt;
    display: inline-block;
    position: relative;
    background: rgba(255,99,99,.9);
    color: #fff;
    padding: 4px 6px;
    margin: 10px 0 -20px;
    font-size: 10pt;
    border-radius: 2px;

    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 10px;
        top: -10px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid rgba(255,99,99,.9);
    }

    .form__section_radio & {
        margin-top: 20px;

        &:before {
            display: none;
        }
    }
}

.form__input {}

.form__input_text {
    display: block;
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #ddd;
    font-size: 12pt;
    line-height: 32px;
    outline: none;

    &:focus {
        border-bottom-color: #6ab344;
    }
}

.form__input_button {}

.form__input_button-secondary {
    margin-top: 20px;
}


.form__input_checkbox {
    display: block;
    float: left;
    margin-top: 4px;
    margin-right: 16px;
    background: #eee;
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 4px;
    border: 2px solid rgba(0,0,0,.2);
    cursor: pointer;
    outline: none;
    margin: 8px 19px 19px 19px!important;
    @include smartphone{
        
        margin: 4px 11px 19px 11px!important;
    };
    &:checked{
        background-color: #6ab344;
        background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNOSAxNi4xN0w0LjgzIDEybC0xLjQyIDEuNDFMOSAxOSAyMSA3bC0xLjQxLTEuNDF6Ii8+PC9zdmc+");
        border: none;
        background-size: contain;
    }
}

.form__input_checkbox-text{
    display: block;
    overflow: hidden;
    font-size: 10pt;
    line-height: 1.5em;
    a{
        color:#6ab344;
    }
    
}

.form__success {
    position: relative;
    padding: 64px 32px 48px;
    text-align: center;

    &:after {
        content: "";
        position: absolute;
        display: block;
        width: 64px;
        height: 64px;
        margin-left: -32px;
        top: 0;
        left: 50%;
        border-radius: 50%;
        background-color: #8BC34A;
        background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNOSAxNi4xN0w0LjgzIDEybC0xLjQyIDEuNDFMOSAxOSAyMSA3bC0xLjQxLTEuNDF6Ii8+PC9zdmc+");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 48px;
    }

    p {
        font-size: 12pt;
        margin: 0;
    }
}

.form__summary {
    border-top: 1px solid rgba(0,0,0,.1);
    padding-top: 48px;

    p {
        font-size: 12pt;
        line-height: 1.5em;
        margin: 0;
        text-align: center;
    }
}

.form__credentials {
    max-width: 320px;
    padding: 30px 40px;
    background: #fffada;
    margin: 40px auto;
    @include smartphone {
        padding-left: 20px;
        padding-right: 20px;
    };

    span {
        font-size: 10pt;
    }

    p {
        margin: 10px 0;
        font-size: 16pt;
        font-weight: bold;
        text-align: left;
        @include smartphone {
            font-size: 12pt;
        };
    }
}

.form__buttons {
    text-align: center;
}

.radio {
    display: flex;
    justify-content: space-between;
    @include smartphone {
        display: block;
    };
}

.radio__item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    @include smartphone {
        display: block;
        margin: 10px 0;
        line-height: 24px;
    };


    input {
        height: 0;
        width: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        position: absolute;

        &:checked {
            background: #fc0;
        }
    }

    span {
        border: 3px dotted rgba(0,0,0,.2);
        display: block;
        padding: 52px 20px 20px;
        font-size: 12pt;
        border-radius: 8px;
        &:hover {
            border-color: rgba(0,0,0,.4);
        }
        @include smartphone {
            padding: 0 0 0 32px;
            border: none!important;
        };

        &:after {
            content: "";
            display: block;
            position: absolute;
            left: 50%;
            top: 20px;
            width: 24px;
            height: 24px;
            border: 2px solid #6ab344;
            margin-left: -12px;
            border-radius: 50%;
            box-sizing: border-box;
            @include smartphone {
                left: 0;
                top: 50%;
                margin-left: auto;
                margin-top: -12px;
                background: #fff;
            };
        }
    }
}

.radio__item input[type="radio"]:checked + span {
    border-color: #6ab344;
    border-style: solid;

    &:after {
        background-color: #6ab344;
        background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNOSAxNi4xN0w0LjgzIDEybC0xLjQyIDEuNDFMOSAxOSAyMSA3bC0xLjQxLTEuNDF6Ii8+PC9zdmc+");
        border: none;
    }
}
